.info-card {
  
  p:not(:first-of-type) {
    margin-top: 2em;
  }

  .card-title {
    color: #42a5f5;
  }

  .block {
    font-family: monospace, monospace;
    white-space: pre;
    background-color: #FAFAFA;
    span {
      display: block;
    }
    .legend {
      color: #000;
      opacity: 0.6;
    }
  }
}
