nav {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
  background-color: #305d6d; /* For browsers not support gradients  */
  background-image: linear-gradient(to right, #305d6d, #7bb9ce);

  #mainmenu {
    min-width: 140px;
  }

  .heading{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
    padding: 3px 0 0 33px;
  }

  .dropdown-content li:hover {
    background-color: white;
  }

  .nav-dropdown {
    height: 64px;
  }
}

.status-info {
  margin-right: 10px;
}

