.status-card-container {
  
  .email {
    font-weight: bold;
  }

  .status-card {
    min-height: 215px;

    .card-content {
      min-height: 150px;
    }

    .card-title {
      font-weight: 400;
      vertical-align: top;
      i {
        font-size: 3rem;
        margin-right: 6px;
      }
    }
  }

  .card-action {
    display: none;
  }

  .card-action-visible {
    .card-action {
      display: block;
    }
  }

  .card-action-disabled {
    .card-action {
      a {
        cursor: default !important;
        color: #ccc !important;

        &:hover {
          cursor: default !important;
          color: #ccc !important;      
        }
      }
    }
  }

  .status-card-container.pinned {
    width: 41.6666666667%;
    padding: 0 1.5rem 0 0;
    transform: translate3d(0, 0, 0);
  }

  .status-card-error .card-title {
    color: #ef5350;
  }
  .status-card-success .card-title {
    color: #66bb6a;
  }

}
